<div class="ui basic tertiary segment blue inverted">
  <div>
    <strong>{{ email.subject }}</strong>
    <app-email-reply [email]="email"></app-email-reply>
  </div>
  <div>
    <b>From:</b> &nbsp; <i>{{ email.from }}</i>
  </div>
  <div>
    <b>To:</b> &nbsp; <i>{{ email.to }}</i>
  </div>
</div>
<div class="ui basic segment email-content">
  <p *ngIf="!markContent; else htmlContent">{{ email.text }}</p>
  <div class="ui divider"></div>
  <ng-template #htmlContent> <p [innerHTML]="email.html"></p></ng-template>
</div>
