/* .active {
  background-color: rgba(56, 48, 81, 0.15);
} */
.item {
  position: relative;
  cursor: pointer;
}
.item.active::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  position: absolute;
  background-color: #2185d0;
  visibility: visible;
}
i {
  font-size: 1rem;
  color: #555;
}
