<form [formGroup]="emailGroup" (submit)="onSubmit()">
  <div class="ui form">
    <div class="ui grid">
      <div class="eight wide column field">
        <app-input
          [control]="emailGroup.get('to')"
          type="email"
          label="To"
          [required]="true"
        ></app-input>
      </div>
      <div class="eight wide column field">
        <app-input
          [control]="emailGroup.get('from')"
          type="email"
          label="From"
          [required]="true"
        ></app-input>
      </div>
      <div class="sixteen wide column field">
        <app-input
          [control]="emailGroup.get('subject')"
          label="Subject"
          [required]="true"
        ></app-input>
      </div>
      <div class="sixteen wide column field">
        <label>Message: </label>
        <textarea rows="5" formControlName="text"></textarea>
      </div>
    </div>
  </div>
  <button class="ui primary right floated button">Send</button>
</form>
