.ui.celled.grid {
  margin: 0;
}
.grid .column {
  height: calc(100vh - 40px);
  overflow-y: scroll;
}
.grid .column:first-of-type {
  overflow-y: inherit;
}
.ui.celled.grid > .column:not(.row),
.ui.celled.grid > .row > .column {
  padding: 0;
}
